@import "partials/variables";
@import "partials/mixins";

* {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    background-color: $black;
    @include font-styles;
}

#calculator {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    background-color: $white;
    border-radius: 5px;
    padding: $padding;
}

h1 {
    @include font-styles(50px, $headline-font, $secondary-color);
}

p {
    margin: 5px;
}

input,
select {
    margin: 20px;
}

#bill-total,
#number-of-people {
    padding: $input-padding;
}

#number-of-people {
    display: block;
    margin: 0 auto;
}

#tip-section {
    display: none;
}

footer {
    background-color: $theme-color;
    padding: $padding;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#heart {
    color: $secondary-color;
    font-size: 30px;
}