@import url('https://fonts.googleapis.com/css?family=Calistoga|Roboto&display=swap');
 
 // COLORS
 $black: #242528;
 $white: #E3F2FD;
 $grey: grey;
 $theme-color: #8AA29E;
 $secondary-color: #DB5461;
 $ternary-color: #686963;
 
 // FONTS
 $text-font: 'Roboto', Arial, sans-serif;
 $headline-font: 'Calistoga', cursive;
 
 // SIZES
 $padding: 50px;
 $input-padding: 15px;
 $rounded-button: 40px;

 // TRANSITIONS
 $hover: 0.3s ease-in;